package pages

import (
    "scavenger/internal/domain"
    "scavenger/web/templates"
)

templ Home(user *domain.User) {
	if user != nil {
		@templates.Layout("Главная", user, true) {
			<h1 class="h3">Добро пожаловать, { user.FullName }!</h1>
		}
	} else {
		@templates.Layout("Главная", user, false) {
			<a class="btn btn-primary" href="/login">Войти</a>
		}
	}
}
