package pages

import (
    "scavenger/internal/domain"
    "scavenger/web/templates"
)

templ Home(user *domain.User, group *domain.Group) {
	if user != nil {
		switch user.Role {
		case domain.RoleStudent:
			@templates.StudentHome(user, group)
		case domain.RoleTeacher:
			@templates.TeacherHome(user)
		}
	} else {
		@templates.Layout("Главная", user, true) {
            <a class="btn btn-primary" href="/login">Войти</a>
		}
	}
}
