package pages

import (
	"scavenger/internal/domain"
	"scavenger/web/templates"
	"scavenger/web/templates/components"
)

templ StudentHome(user *domain.User, group *domain.Group, items []components.DisciplineCardView) {

	@templates.Layout("Панель студента", user, true) {
		if group != nil {
			<h1 class="h3 mb-2">Ваша группа, <b>{ group.Name() }</b></h1>
			<hr>
		}
		<h1 class="h3 mb-3">Мои дисциплины</h1>
		if len(items) > 0 {
			@components.DisciplineList(items)
		} else {
			<p class="text-body-secondary">Пока нет дисциплин.</p>
		}
	}
}
