package templates

import (
	"scavenger/internal/domain"
)

templ StudentHome(user *domain.User, group *domain.Group) {
	@Layout("Панель студента", user, true) {
		<h1>Панель студента</h1>
		<hr>
		<h2>Добро пожаловать, <b>{ user.FullName }</b></h2>
		if group != nil {
			<h2>Ваша группа, <b>{ group.Name() }</b></h2>
		}
	}
}
