package templates

import (
	"scavenger/internal/domain"
)

templ TeacherHome(user *domain.User) {
	@Layout("Панель преподавателя", user, true) {
		<h1>Панель преподавателя</h1>
		<hr>
		<h2>Добро пожаловать, <b>{ user.FullName }</b></h2>
	}
}
