{% extends "base.html" %}
{% block content %}
    <h4> Введите данные и выберите файл для отправки преподавателю на проверку</h4>

    <form action="{{ url_for('index')}}" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}

        <div class="row mb-2">
            <div class="col">
                {{form.sender_name.label(class="form-label")}}
                {{form.sender_name()}}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                {{form.sender_group.label(class="form-label")}}
                {{form.sender_group()}}
            </div>
        </div>
        
        <div class="row mb-2">
            <div class="col">
                {{form.number.label(class="form-label")}}
                {{form.number()}}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                {{form.send_file.label(class="form-label")}}
                {{form.send_file()}}
            </div>
        </div>

        <div class="row mb-2">
            <div class="col">
                <button type="submit" class="btn btn-success">Отправить</button>
            </div>
        </div>
    </form>
{% endblock %}
